extends layout

block content
  h1= title
  p Welcome to dafeiji
  a#single(href='/single')
    button.indexButton Single
  a#match(href='/match/pre')
    button.indexButton Match
  button#rule.indexButton Rule
