extends layout

block content
    link(rel='stylesheet', href='/stylesheets/field.css')
    link(rel='stylesheet', href='/stylesheets/match.css')
    div#container
        div#selfField
            h1 Your Field
            div#info
                div#txt Please choose a point as one of your plane's head
                button#yes.sure YES
                button#no.sure No
                div#direction
                    button#left.btn_direction left
                    button#right.btn_direction right
                    button#up.btn_direction up
                    button#down.btn_direction down
            table#selfTable
                tr.row
                    td.number
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                tr.row
                    td.number
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                tr.row
                    td.number
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                tr.row
                    td.number
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                tr.row
                    td.number
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                tr.row
                    td.number
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                tr.row
                    td.number
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                tr.row
                    td.number
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                tr.row
                    td.number
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                tr.row
                    td.number
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                tr.row
                    td.number
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                tr.row
                    td.number
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                tr.row
                    td.number
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
                    td.block_self
        div#field1
            h1 Offense Field
            table#backupTable1
                tr.row
                    td.number
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
            button#attack ATTACK TARGET
        div#field2
            h1 Backup Field
            table#backupTable2
                tr.row
                    td.number
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
            div#clearMode
                div#clearYes clear mode on
                div#clearNo.activeYes clear mode off
        script(src = "/javascripts/match.js")
        script(src = "/javascripts/field.js")
//
   Created by shzpo_000 on 2017/11/17.


