extends layout

block content
    link(rel='stylesheet', href='/stylesheets/field.css')
    div#container
        div#selfField
            h1 Your Field
            table#backupTable1
                tr.row
                    td.number
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
        div#field2
            h1 Offense Field
            table#backupTable2
                tr.row
                    td.number
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                    td.character
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                tr.row
                    td.number
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
                    td.block
        script(src = "/javascripts/field.js")
        script(src = "/javascripts/single.js")
//
   Created by shzpo_000 on 2017/11/19.

